.portfolioList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;

  .animationLi {
    margin-top: 2rem;
    border: 2px solid;
    position: sticky;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    transition: all 0.5s ease-in-out; // 添加过渡效果
    overflow: hidden; // 确保内容不会在过渡过程中溢出

    &.expanded {
      width: 100%;
    }

    &.collapsed {
      width: 25%;
    }

    .header {
      cursor: pointer;
      height: 2.5rem;
      background-color: #00bfff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
      border-bottom: 2px solid;

      .icon {
        font-weight: bold;
      }
    }

    .description,
    .content {
      text-align: center;
      padding: 1rem;
    }

    .content {
      margin-top: 0.5rem;
    }
  }
}
